/* .App-header {
  background-color: white;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.top {
  background-color: yellow;
  position: fixed;
  top: 0;
  left: 3.5rem;
  height: 3.5rem;
  width: calc(100vw - 3.5rem);
}

.logout {
  float: right;
}

.leftNav {
  background-color: #3B60B0;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  width: 3.5rem;
}

.sideNavSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: lightblue;
}

.sideNavItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: #3B60B0;
}

.bodyLeft {
  background-color: red;
  margin-right: 0;
  margin-left: 0;
}

.bodyRight {
  background-color: red;
  margin-right: 0;
  margin-left: 0;
}

.mainBody {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  margin-right: 0 !important;
  width: calc(100vw - 3.5rem);
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container-fluid {
  padding:0;
}

