/* .App-header {
  background-color: white;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.top {
  background-color: yellow;
  height: 10%;
  width: 100%;
  overflow: auto;
}

.logout {
  float: right;
}

.bodyLeft {
  background-color: red;
}

.bodyRight {
  background-color: red;
}

.leftNav {
  background-color: pink;
  height: 100vh;
}
