.top {
  background-color: white;
  position: fixed;
  top: 0;
  left: 3.5rem;
  height: 3.5rem;
  width: calc(100vw - 3.5rem);
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.leftNav {
  background-color: #3B60B0;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  width: 3.5rem;
}

.setting {
  font-size: large;
}

.sideNavSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: #16a9c7;
}

.icon {
  color: white;
}

.sideNavItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: #3B60B0;
}

.sideNavItem:hover {
  background-color: #110a5c;
}

.sideNavItemSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: #110a5c;
}

.bodyLeft {
  background-color: #F2F3F7;
  margin-right: 0;
  margin-left: 0;
  height: calc(100vh - 3.5rem);
}

.bodyRight {
  background-color: #F2F3F7;
  margin-right: 0;
  margin-left: 0;
  height: calc(100vh - 3.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBody {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  margin-right: 0 !important;
  width: calc(100vw - 3.5rem);
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container-fluid {
  padding:0;
}

.background {
  background-color: white;
  border-radius: 6px;
  padding: 1vw;
}

.text {
  color: #9C9CA0;
}

a {
  color: #7FA0E0;
}

/* .hrUnits {
  border: 1px solid #9C9CA0;
  width: calc((100vw - 3.5rem) / 75%);
} */

.hrBoxes {
 border: 1px solid #D5DBE6;
 width: 100%;
}

.settingBut {
  float: right;
}

